.typewriter-container {
  height: 5rem; 
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.typewriter {
  white-space: normal; 
  word-break: break-word;
  display: inline-block;
  overflow: hidden;
}

.typewriter-cursor {
  display: inline;
  animation: blink 0.7s steps(1) infinite;
  font-weight: 300;
  color: currentColor; 
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


